<section class="page-container container2">
  <div class="d-flex p-2 justify-content-center">
    <div class="contenedor-dos card ">
      <div class="card-body">
        <h5 class="card-title card-custom-title p-2">
          Estefania Arenas Córdoba
        </h5>
        <img
          src="https://w7.pngwing.com/pngs/296/133/png-transparent-avatar-female-person-girl-avatar-heroes-photography-fictional-character.png"
          class="card-img-top"
          alt="No disponible"
        />
        <div class="d-flex mb-4">
          <h6 class="me-4">Fecha de nacimiento: </h6>
          <p class="right-field">9 de Mayo De 1996</p>
        </div>
        <div class="d-flex mb-4">
          <h6 class="me-4">Edad: </h6>
          <p class="right-field">26 años</p>
        </div>
        
        <div class="d-flex mb-4">
          <h6 class="me-4">Ocupación: </h6>
          <p class="right-field">Estudiante</p>
        </div>
      <div class="container per">
        <a
     href="https://github.com/estefaniaarenas"
      ><button
      type="button"
      class= "btn btn-dark"
      style="background-color:#FF8AAE">
      Mi Perfil De GitHub
     </button></a>
     </div>
      </div>
    </div>
  </div>
</section>
